{% extends "layout.html" %}
{% block body %}

<!--## Politicas de la aplicación ##-->



<div id="cc" class="jumbotron">
<h1 style="font-weight: bold;" class="display-4">Nuestras Políticas son las siguientes:</h1>
<p style="font-weight: bold; font-size: 20px;"class="lead">Si faltas a algunas de estas normas serás bloqueado de la aplicación.</p>
<p>1. Se imparcial al calificar un empleado</p>
<p>2. No escribas mal de nadie.</p>
<p>3. Sé respetuoso (a) con tus compañeros.</p>
</div>

{% endblock %}
